<% include _layouts/header %>
<div  id="top-hero">
    <div class="container pt-4" >
        <h3>
            Center for Africa Volunteers
        </h3>
        <p >
            Capacity Building in International Exchange Programs International – moving people across borders for volunteer work, seminars, capacity development, educational, professional, or cultural purposes—connect an ever-widening circle of the global citizens with their counterparts around the world
            . Exchange programs create opportunities: opportunities for participants to learn,
             to prosper, and to work with others to solve shared problems and ensure a secure future.
        </p>
    </div>
</div>
<div style=".formFooter, .formFooter-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}">
    <script type="text/javascript" src="https://form.jotform.com/jsform/211874646321557"></script>
</div>

<% include _layouts/footer %>