/* @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
!important;
}


.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("photographer.jpg");

  
  height: 50%;

  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

a.nav-item.nav-link.d-block.d-sm-none {
    border: 1px solid;
    border-width: 0px 0.5px 0px 0.5px;
    border-color: rgba(255, 255, 255, .1);
}

.fa-search:before {
    content: "\f002";
    color: rgba(255, 255, 255, .9);
}


.fa-shopping-cart:before {
    content: "\f002";
    color: rgba(255, 255, 255, .9);
}
img.pimage {
    width: 150px;
}

a.pa {
    display: inline-block;
    height: 160px;
}

.row.products .p {
    margin-top: 20px;
    margin-bottom: 20px;
}

img.spi {
    width: 100%;
}

ul.gallery li {
    display: inline-block;
    margin: 20px;
    list-style: none;
}

img.cpi {
    width: 100px;
}

table.alignmiddle td {
    vertical-align: middle !important;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #ececec;
}
.pp {
    position: absolute;
    left: -3000px;
}


.ajaxbg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255, .8);
    z-index: 2;
    display: none;
}

.ajaxinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.alert-error {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
btn-double,btn-double:hover{
    color: #7c3d82;
    text-decoration: none;
} */
.formFooter,
.formFooter-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  display: none;
}
.navbar-light .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
}
.navbar-light .navbar-toggler-icon {
  /* background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e); */
  background-color: #fff !important;
  margin: 4px 4px 2px 2px;
}
.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgb(255, 255, 255);
}
#top-link {
  color: rgba(255, 255, 255, 0.9);
}
#top-hero {
    height: 400px;
    width: auto;
  background-color: antiquewhite !important;
  background-image: url("../images/assets/nathaniel-tetteh-df6zCs6MCYQ-unsplash.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color:#fff;
}
